.add {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
}

/* .add__list {
} */

.add__list-item:not(:last-child) {
    margin-bottom: 9px;
}

.add__list-map {
    color: #ffffff;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add__list-link {
    color: inherit;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add__list-item:hover,
.add__list-item:focus,
.add__list-map:hover,
.add__list-map:focus {
    color: var(--active-link-color);
}